<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/main.css}">
    <link rel="icon" type="image/x-icon"  th:href="@{img/favicon.ico}">
</head>
<body>
<h1>Hello, <span th:text="${username}"></span></h1>
<a th:href="@{/logout}">Logout</a>

<div class="drop-zone">
    <span class="drop-zone__prompt">Drop file here or click to upload</span>
    <input type="file" name="myFile" class="drop-zone__input">
</div>

<script type="text/javascript" th:src="@{js/main.js}"></script>
</body>
</html>