<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Authorization</title>
    <link rel="icon" type="image/x-icon" th:href="@{img/favicon.ico}">
</head>
<body>
<div th:if="${param.error}">
    <div class="alert alert-danger">Invalid Email or Password</div>
</div>
<div th:if="${param.logout}">
    <div class="alert alert-success"> You have been logged out.</div>
</div>
<form method="post" th:action="@{/login}">
    <label for="username">Login: </label>
    <!-- todo autocomplete="username"-->
    <input id="username" placeholder="Type your login" name="username" type="text">
    <label for="password">Password: </label>
    <!-- todo autocomplete="password"-->
    <input id="password" placeholder="Type your password" type="password" name="password">
    <button type="submit">Log in!</button>
</form>
<br/>

<a th:href="@{/sign-up}">Don't have an account yet</a>

</body>
</html>