<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Authorization</title>
</head>
<body>
<form th:object="${user}">
    <label for="login">Login: </label>
    <input id="login" placeholder="Type your login" type="text" th:field="*{name}">
    <label for="password">Password: </label>
    <input id="password" placeholder="Type your password" type="password" th:field="*{password}">
    <button type="submit">Log in!</button>
</form>
<br/>

<a th:href="@{/sign-up}">Don't have an account yet</a>

</body>
</html>